{% extends 'layout.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
    {{ component('navbar') }}
    <div class="contain-components">
        <h1>Connexion</h1>
        <div class="background-connexion-form">
            <div class="connexion-form">

                <form action="{{ path('app_login') }}" method="post">
                    <label for="username">Entrez votre Email:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Exemple@gmail.com"/>

                    <label for="password">Votre mot de passe :</label>
                    <input type="password" id="password" name="_password"/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <input type="hidden" name="_target_path" value="/PastEasy-Accueil"/>

                    <div class="button-list">
                        <button class="button-custom-one" type="submit">Connexion</button>
                        <a class="button-custom-one" href="{{ path('app_register') }}">Pas encore inscrit ?</a>
                    </div>
                    {% if error %}
                        <div class="error-explain">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                </form>
            </div>
        </div>

    </div>




    {{ component('footer') }}
{% endblock %}