<footer>
    <div class="template-footer">
        <a href="{{ path('app_accueil') }}">
            <div class="icones-footer">
                <img src='{{ asset('pic/icone/icone-easycook.png')}}' alt="PastEasy">
                <p >PastEasy,les Mains dans la Pâte </p>
            </div>
        </a>
        <div class="icones-contact">
            <img src='{{ asset('pic/icone/envelope-fill.svg')}}' alt="PastEasy">
            <img src='{{ asset('pic/icone/facebook.svg')}}' alt="PastEasy">
            <img src='{{ asset('pic/icone/telephone-fill.svg')}}' alt="PastEasy">
        </div>
    </div>
</footer>
